<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script>document.getElementsByTagName("html")[0].className += " js";</script>
  <link rel="stylesheet" href="assets/css/style.css">
  <title>Everything Interview</title>
</head>
<body>
<header class="cd-header flex flex-column flex-center">
  <div class="text-component text-center">
    <h1>Data Structures</h1>
    <p><a class="cd-article-link" style="text-decoration: none;" href="../../index.html">Go to home</a></p>
  </div>
</header>

<section class="cd-faq js-cd-faq container max-width-md margin-top-lg margin-bottom-lg">
	<ul class="cd-faq__categories">
		<li><a class="cd-faq__category cd-faq__category-selected truncate" href="#basics">Baccho ka Khel - 0</a></li>
		<li><a class="cd-faq__category truncate" href="#mobile">Welcome - 1</a></li>
		<li><a class="cd-faq__category truncate" href="#account">Daud Kachra - 2</a></li>
		<li><a class="cd-faq__category truncate" href="#payments">Coming soon more levels</a></li>
	</ul> <!-- cd-faq__categories -->

	<div class="cd-faq__items">
		<ul id="basics" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Baccho ka Khel - 0</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Define Binary Tree and Binary Search Tree</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Tell the difference between them too.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>In a binary tree of N nodes, find <b>minimum</b> and <b>Maximum</b> possible height</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Hint: Formulas are given on GFG</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Convert array to Binary Tree.</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Given an array int[] arr. Form a Binary Tree from the values of the array</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Convert array to Binary Search Tree.</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Given an array int[] arr. Form a Binary Search Tree from the values of the array</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="mobile" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Welcome  - 1 </h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Inorder Traversal</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Given a BST, find inorder traversal and make a flow chart</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Preorder Traversal</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Given a BST, find Preorder traversal and make a flow chart</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>PostOrder Traversal </span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Given a BST, find Postorder traversal and make a flow chart</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Preorder Traversal</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Given a BST, find Preorder traversal and make a flow chart</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Sorted Array to Balanced BST</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Given a sorted array. Write a function that creates a Balanced Binary Search Tree using array elements.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->

		<ul id="account" class="cd-faq__group">
			<li class="cd-faq__title"><h2>Daud Kachra - 2</h2></li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Check if the Binary Tree is Balanced Binary Tree</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p> Check whether the given Binary Tree is a Balanced Binary Tree or not. A binary tree is balanced if, for all nodes in the tree, the difference between left and right subtree height is not more than 1.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Given a binary tree, Find the Lowest Common Ancestor for two given Nodes (x,y).</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Lowest Common Ancestor(LCA): The lowest common ancestor is defined between two nodes x and y as the lowest node in T that has both x and y as descendants (where we allow a node to be a descendant of itself.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Convert BST to Min Heap</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Given a binary search tree which is also a complete binary tree. The problem is to convert the given BST into a Min Heap with the condition that all the values in the left subtree of a node should be less than all the values in the right subtree of the node. This condition is applied on all the nodes in the so converted Min Heap. </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>

			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>BST to a Tree with sum of all smaller keys</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Given a Binary Search Tree(BST), convert it to a Binary Tree such that every key of the original BST is changed to key plus sum of all smaller keys in BST.
				Given a BST with N Nodes we have to convert into Binary Tree </p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
			<li class="cd-faq__item">
				<a class="cd-faq__trigger" href="#0"><span>Boundary Traversal of a Binary Tree</span></a>
				<div class="cd-faq__content">
          <div class="text-component">
            <p>Write a program for the Anti-Clockwise Boundary traversal of a binary tree.</p>
          </div>
				</div> <!-- cd-faq__content -->
			</li>
		</ul> <!-- cd-faq__group -->


		

		
	</div> 

	<a href="#0" class="cd-faq__close-panel text-replace">Close</a>
  
  <div class="cd-faq__overlay" aria-hidden="true"></div>
</section> <!-- cd-faq -->
<script src="assets/js/util.js"></script> <!-- util functions included in the CodyHouse framework -->
<script src="assets/js/main.js"></script> 
</body>
</html>