<!DOCTYPE html>
<html lang="en">

<head>
    <title>Everything Interview</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description"
        content="Everything Interview Contains all your placement and beyond needs absolutely free">
    <meta name="keywords" content="EveInt, Interview,placement,questions">
    <meta name="author" content="Bucky Maler, Yash Munjal">
    <link rel="stylesheet" href="./roadmap.css">
</head>

<body>
    <header>
        <h1>Frontend Developer Roadmap</h1>
    </header>

    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Basics of HTML</h2>
                <p>Start with the basics of HTML. Get ready with normal tags. Components as well as some definitions of
                    SEMANTICS (Interview Important)</p>
                <a href="https://www.w3schools.com/html/default.asp" target="_blank" class="cd-read-more">Read more</a>
                <span class="cd-date">Expected: 1-1.5 days</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Basics of Css</h2>
                <p>Start doing the basics of Css. Borders,Paddings and Margins are of utmost importance!</p>
                <a href="https://www.w3schools.com/css/default.asp" class="cd-read-more">Read more</a>
                <span class="cd-date">Expected: 2-3 days</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Lets play with CSS</h2>
                <p>Its time to start playing with CSS. Let's make a simple landing page with just css and html</p>
                <span class="cd-date">Expected: 1 day of activity</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Advance CSS!</h2>
                <p>Now its time to deep dive into the realms of CSS. Study about <b>FlexBox</b> and <b>Grid</b> to dive
                    right into <b>Responsive Designs</b>. ofc you need to know how to center a DIV</p>
                <a href="https://www.w3schools.com/css/css_rwd_intro.asp" class="cd-read-more">Read more</a>
                <span class="cd-date">Expected: 3-5 days</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>UI/UX</h2>
                <p>Lets start with the dundamentals of UI/UX to know the crux of how to have a better understanding from User point of view</p>
                <a href="https://xd.adobe.com/ideas/process/ui-design/ui-vs-ux-design-understanding-similarities-and-differences/" class="cd-read-more">Read more</a>
                <span class="cd-date">Expected: 1-1.5 days</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Very Basic Javascript</h2>
                <p>Consider this the very basic start of your entry from UI to programming perspective. Giving the
                    barebones to your application isn't much of a deal
                    From the readmore link get happy with the syntax. Will help in a long run
                </p>
                <a href="https://www.w3schools.com/js/default.asp" class="cd-read-more">Read more</a>
                <span class="cd-date">Expected: 7-10 days</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Basics of Javascript</h2>
                <p>You need to give your full concentration on Javascript Arrays. and DOM manipulation.  The amount of questions formed from this is immense</p>
                <a href="https://www.w3schools.com/js/js_array_methods.asp" class="cd-read-more">Read more</a>
                <span class="cd-date">Expected: 15-20 days</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Lets dive deep into Javascript OOPS</h2>
                <p>Its time to start tinkering with Obect oriented part of JS. JS is notorious for having a flexible OOPS luxury. However hidden in it are various pitfalls you need to take care of</p>
                <a href="https://www.w3schools.com/js/js_object_definition.asp" class="cd-read-more">Read more</a>
                <span class="cd-date">Expected: 10-15 day of activity</span>
            </div> <!-- cd-timeline-content -->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-movie">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>Let's dive to the real deal!</h2>
                <p>These are the topics that are a must to go forward
                    <ul>
                        <li>Promises</li>
                        <li>Async/Await</li>
                        <li>Hoisting</li>
                        <li>JSON parsing</li>
                        <li>Spread Operators</li>
                        <li>Closures</li>
                        <li>Namespaces and Scopes</li>
                        <li>Spread Operators</li>
                        <li>ECMA2017+ </li>
                        <li>this</li>
                        <li>Strict and Sloppy Mode</li>
                        <li>localStorage and Cookies</li>
                        <li>Exception Handling</li>
                        <li>Doing requets usin AJAX/Fetch/Axios</li>
                        <li>Module.exports and making modules</li>
                    </ul>
                </p>
                <span class="cd-date">Expected:20-30 days</span>
            </div> <!-- cd-timeline-content -->
        </div> <!-- cd-timeline-block -->


        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>NPM and Git</h2>
                <p>Its time to learn about Package Managers such as NodeJS and GIT. Absolute useful if you need to cover ahead</p>
                <span class="cd-date">Expected: 2-3 days</span>
            </div> <!-- cd-timeline-content -->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>ReactJS Basics</h2>
                <p>Its time to start with the very basics of ReactJS. Which includes:
                    <ul>
                        <li>Setup</li>
                        <li>Components</li>
                        <li>Import/ multiple exports</li>
                        <li>Children</li>
                        <li>States</li>
                        <li>Functional components</li>
                        <li>Pure components</li>
                    </ul>
                </p>
                <span class="cd-date">Expected: 20-30 days</span>
            </div> <!-- cd-timeline-content -->
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>ReactJS InterMediate</h2>
                <p>Its time to start with the the Productional things in ReactJS
                    <ul>
                        <li>process.env.NODE_ENV</li>
                        <li>Routing</li>
                        <li>Styling</li>
                        <li>Children</li>
                        <li>States handling using custom hooks</li>
                        <li>Very Basics of Redux</li>
                    </ul>
                </p>
                <span class="cd-date">Expected: 20-30 days</span>
            </div> <!-- cd-timeline-content -->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture">
            </div> <!-- cd-timeline-img -->

            <div class="cd-timeline-content">
                <h2>More Roadmaps coming soon!</h2>
                <p>Till then have a nice day! and follow me on <b>Instagram</b></p>
                <a href="https://www.instagram.com/yashmunjal45" style="background-color: violet;" class="cd-read-more">Follow from here</a>
                <span class="cd-date">Expected: 10 seconds</span>
            </div> <!-- cd-timeline-content -->
        </div>
    </section> <!-- cd-timeline -->
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="assets/js/vendor/hammer-2.0.8.js"></script>
<script>window.jQuery || document.write('<script src="assets/js/vendor/jquery-2.2.4.min.js"><\/script>')</script>
<script src="assets/js/functions.js"></script>

</html>